.example-card {
  /* max-width: 200px; */
}

.example-header-image {
  background-image: url("/assets/images/img.jpg");
  background-size: cover;
}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5px;
}



