

<button (click)="isMenuOpen =! isMenuOpen">Menu</button>
<div class="my-side-nav" [ngStyle]="{ 'width': isMenuOpen ? '300px' : '0px' }"  >
  <ng-container *ngFor="let item of menuItems" >


    <div class="d-flex">
      <i aria-hidden="true" class="{{item.icon}}"></i>
      {{item.name}}
    </div>

  </ng-container>
  <button (click)="menuItems.push({name:'my name', icon:'s'})" >add</button>
  <i class="fa fa-user-o" aria-hidden="true"></i>
  <i class="fa fa-user-o" aria-hidden="true"></i>


</div>
























<!-- <ul *ngFor="let item of menuItems">
  <li>{{item.name}}</li>
</ul> -->
<!-- {{menuItems.length}} -->
<!-- <button [disabled]="menuItems.length == 6" (click)="addMenu()">add menu</button> -->







<!-- <div class="my-new-side-nav" >
  <ul *ngFor="let item of menuItems">
    <li>{{item.name}}</li>
  </ul>
  {{menuItems.length}}
  <button [disabled]="menuItems.length == 6" (click)="addMenu()">add menu</button>
</div> -->

