<div class="d-flex container m-3">
  <input placeholder="Search Images"  #imageType   type="text" class="form-control"(keydown.enter)="searchPhoto(imageType.value,numberOfPages.value)">
  <input placeholder="Number of Images?"  #numberOfPages class="form-control w-auto" type="number"  >
  <button class="btn btn-primary" (click)="searchPhoto(imageType.value,numberOfPages.value)">Search</button>
</div>
<div class="gallery">
    <ng-container  *ngFor="let item of data">
      <mat-card  style="display: flex; align-items: stretch;">

        <img (click)="updateImageInService(item.src.medium)" [src]="item.src.medium"  alt="">
      </mat-card>
    </ng-container>
  </div>
  <div>
</div>

<app-img-search>

</app-img-search>
